@import './assert/mixin';
@import './assert/reset';
@import './assert/iconfont';
.menu-wrap {
    width: 750px;
}

.ant-affix {
    background: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.ant-menu-horizontal>.ant-menu-item>a {
    line-height: 69px;
}

.head-box {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
}

.nav-wrap {
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    @include box();
    .logo {
        width: 120px;
        height: 100%;
        text-align: center;
        line-height: 70px;
        margin-right: 20px;
    }
    .fa {
        margin-right: 6px;
    }
    .btns {
        line-height: 70px;
    }
}

//---------------------------home页面样式---------------------------------//
.page-content {
    width: 1100px;
    margin: 0 auto;
}

.side-l {
    max-width: 800px;
    margin-right: 10px;
}

.side-r {
    width: 250px;
    padding-top: 16px;
    .infos {
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #e8e8e8;
        .avatarer {
            width: 100px;
            height: 100px;
            @include border-radius(50%);
        }
        .name {
            font-size: 35px;
            display: block;
        }
    }
    .about {
        padding-top: 16px;
        text-align: left;
        p {
            text-align: center;
            line-height: 20px;
            margin-bottom: 8px;
        }
    }
    .connect {
        text-align: center;
        padding-top: 16px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 20px;
        i {
            font-size: 20px;
            margin: 0 8px;
            color: #1890ff;
            cursor: pointer;
        }
    }
}