.body-fix-top {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../image/load.gif) no-repeat #ffffff center center;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 9999;
    opacity: .7;
    img {
        max-width: 100%
    }
}

.select-wrap {
    width: 100px;
}

.addTable-wrap {
    .blue {
        font-size: 18px;
    }
}

.mr10 {
    margin-right: 10px;
}

.change-wrap {
    margin-bottom: 10px;
    .form-col {
        display: inline-block;
        margin-left: 30px;
        label {
            padding: 0 10px;
            float: left;
            width: 85px;
            padding-top: 4px;
            margin-bottom: 4px;
            text-align: right;
        }
        .form-col-ipt {
            float: left;
            width: 100px;
            input {
                width: 100%;
            }
            select {
                &.form-control {
                    height: 28px;
                }
            }
        }
        .min-btn {
            width: 80px;
            height: 28px;
            float: left;
            margin-left: 15px;
            padding: 0;
            line-height: 10px;
        }
    }
    .cols {
        height: 30px;
        float: left;
        margin-bottom: 10px;
        .form-group {
            margin: auto;
            label {
                width: 93px;
                text-align: right;
                margin-left: 20px;
            }
            .col-sm-9 {
                width: 200px;
                height: 30px;
                select {
                    width: 200px;
                }
                textarea {
                    width: 500px;
                    height: 50px;
                }
            }
        }
        select {
            &.input-sm {
                width: 180px;
            }
        }
        label {
            margin-left: 20px;
            min-width: 85px;
        }
    }
    .tab-area {
        .form-group {
            .col-sm-9 {
                textarea {
                    width: 650px;
                    height: 50px;
                }
            }
        }
    }
}

.versionWrap {
    width: 150px;
    height: 35px;
    margin-bottom: 10px;
    .col-sm-9 {
        width: 100%;
        padding-left: 0;
    }
}

.bootbox .modal-dialog {
    position: absolute;
}

.form-horizontal {
    padding: 15px 0;
}

.addTable-wrap {
    width: 100%;
    padding: 0 20px;
}

.bootbox-close-button {
    &.close {
        margin-top: -10px;
    }
}

.change-btn button {
    height: 30px;
    line-height: 10px;
    padding: 0 20px;
}

.form-control {
    .announceInfo {
        tr {
            line-height: 20px;
            td {
                display: inline-block;
                width: 150px;
                &.itemsid {
                    width: 40px;
                }
            }
        }
    }
}

.status0 {
    color: red;
}

.table-responsive {
    .table.table-bordered thead tr th {
        &.w1 {
            width: 150px;
        }
        &.w2 {
            width: 60px;
        }
        &.w3 {
            width: 300px;
        }
        &.w4 {
            width: 60px;
        }
        &.w5 {
            width: 60px;
        }
        &.w6 {
            width: 60px;
        }
        &.w7 {
            width: 60px;
        }
        &.w8 {
            width: 60px;
        }
        &.w9 {
            width: 60px;
        }
    }
}

.selectsearch-control {
    .selectsearch-title {
        overflow: hidden;
        width: 180px;
        &.dis {
            background-color: #eee !important;
            cursor: not-allowed;
        }
    }
}

.table-responsive {
    table {
        tbody {
            tr {
                td {
                    vertical-align: middle;
                    &.event {
                        max-width: 450px;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}

.wid500 {
    max-width: 450px !important;
    word-break: break-all;
    .json-pretty {
        text-align: left;
        border: none;
        background: none;
    }
}

.insideSearch {
    height: 30px;
    line-height: 12px;
    margin-left: 30px;
}

// tips样式
.tips-btn-wrap {
    position: relative;
}

.tips-box {
    max-width: 1000px;
    display: block;
    padding: 8px;
}

@import './module';
@import './loading';